Django==5.2.15
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.4.0
django-filter==24.3
django-environ==0.11.2
psycopg[binary]==3.2.1
celery==5.4.0
redis==5.0.8
django-celery-beat==2.9.0
django-celery-results==2.5.1
drf-spectacular==0.27.2
django-prometheus==2.3.1
pgvector==0.3.2
google-genai==1.21.0
requests==2.33.0
gunicorn==23.0.0
whitenoise==6.7.0
paynow==1.0.8
sentry-sdk==2.18.0
